<form action="#" id="delete" method="POST">
    <div class="form-group mb-7">
        <label for="startinginput" class="gr-text-11 font-weight-bold text-blackish-blue">ID</label>
        <input class="form-control gr-text-11 border" type="text" id="id" name="id">
    </div>
    <div class="form-group mb-7">
        <label for="startinginput" class="gr-text-11 font-weight-bold text-blackish-blue">Şifre</label>
        <input class="form-control gr-text-11 border" type="text" id="password" name="password">
    </div>
    <button class="form-btn btn btn-primary w-100" type="submit">Sil</button>
</form>